.container {
  display: flex;
  flex-flow: column nowrap;
  color: var(--base-color);

  h2 {
    margin-bottom: 16px;
    text-align: center;
  }
}

.content {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  padding: 24px 16px;
  margin-bottom: 24px;
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
}

.arrow {
  width: 10.56px;
  margin-left: 6.72px;
  stroke: var(--base-color);
}

.questionWrapper {
  margin-top: 8px;
}

.questions {
  width: fit-content;
  cursor: pointer;
}

.line {
  width: 100%;
  padding-top: 8px;

  &:not(:last-of-type) {
    padding-bottom: 8px;
    border-bottom: 1px solid #555;
  }
}
