.container {
  display: flex;
  flex-flow: column nowrap;
  color: var(--base-color);

  span {
    display: flex;
    width: fit-content;
    align-items: center;
    line-height: 22px;
  }

  h2 {
    margin: 20px 0;
    color: var(--base-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-align: center;
  }
}

.content {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px 16px;
  border: 1px solid var(--base-color);
  margin-bottom: 24px;
  border-radius: 16px;
  gap: 8px;
}

.data {
  color: var(--secondary-color);
}

.timeLine {
  display: flex;
  height: 24px;
  justify-content: space-between;
}

.arrow {
  width: 10.56px;
  margin-left: 6.72px;
  stroke: var(--secondary-color);
}

.questions {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}
