.container {
  height: 100vh;
  padding: 24px 16px 0;
  overflow-y: auto;

  h2 {
    position: sticky;
    z-index: 5;
    top: 0;
    margin-bottom: 20px;
    background-color: var(--base-bg-color);
  }
}

.chosenLanguage {
  font-size: 16px;
}
