.container {
  position: relative;
  display: flex;
  overflow: hidden;
  height: calc(100vh - var(--submit-button-height));
  flex-flow: column nowrap;
  padding: 24px 16px 0;
  color: var(--base-color);

  h2 {
    margin-bottom: 16px;
  }
}

.meetingsWrapper {
  width: 100%;
  overflow-y: auto;
}
