.container {
  height: 100vh;
  padding: 0 16px;
  overflow-y: auto;

  h2 {
    position: sticky;
    z-index: 1;
    top: 0;
    margin: 24px 0 16px;
    background-color: var(--base-bg-color);
  }

  p {
    margin-bottom: 16px;
    font-size: 14px;
  }

  &.pending {
    overflow-y: hidden;
  }
}

.alertsContainer {
  margin-bottom: var(--submit-button-height);
}

.addNewContainer {
  background-color: var(--dt-white-wt-black);
}

.childernContainer {
  display: flex;
  align-items: center;
  color: var(--dt-black-wt-white);

  & svg {
    margin-right: 8px;
    stroke: var(--dt-black-wt-white);
  }
}

.skeletContainer {
  margin-bottom: 31px;
}
