.container {
  padding: 0 16px;
  margin-bottom: var(--submit-button-height);

  h2 {
    position: sticky;
    top: 0;
    margin: 24px 0 16px;
    background-color: var(--base-bg-color);
  }

  p {
    margin-bottom: 16px;
    font-size: 14px;
    text-align: justify;
  }
}

.alertsContainer {
  margin-bottom: var(--submit-button-height);
}

.addNewContainer {
  background-color: var(--dt-white-wt-black);
}

.childernContainer {
  display: flex;
  align-items: center;
  color: var(--dt-black-wt-white);

  & svg {
    margin-right: 8px;
    stroke: var(--dt-black-wt-white);
  }
}
