.container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - var(--submit-button-height));
  flex-flow: column nowrap;
  padding: 24px 16px 0;
  color: var(--base-color);

  h2 {
    margin-bottom: 16px;
  }

  h3 {
    margin: 16px 0;
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -15px;
  margin-left: -15px;
}

.search {
  margin-bottom: 8px;
}

.paddingContainer {
  width: 164px;
  height: 42px;
  flex-grow: 1;
  padding: 10px 0;
  margin-bottom: 15px;
  margin-left: 15px;
}

.langWrap {
  overflow-y: auto;
}
