.container {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 24px;
  margin-bottom: var(--submit-button-height);
  color: var(--base-color);

  h2 {
    margin-bottom: 16px;
  }

  h3 {
    position: sticky;
    top: 88px;
    margin: 16px 0;
    background-color: var(--base-bg-color);
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -15px;
  margin-left: -15px;
}

.search {
  margin-bottom: 8px;
}

.paddingContainer {
  width: 164px;
  height: 42px;
  flex-grow: 1;
  padding: 10px 0;
  margin-bottom: 15px;
  margin-left: 15px;
}

.stickyHeader {
  position: sticky;
  top: 0;
  background-color: var(--base-bg-color);
}

.headerSkelet {
  width: min-content;
  height: 16px;
}
