.container {
  overflow: hidden;
  padding-bottom: 40px;

  h2 {
    margin: 16px 0;
    color: var(--base-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.search {
  margin-bottom: 16px;
}

.paddingContainer {
  width: 164px;
  height: 42px;
  flex-grow: 1;
  padding: 10px 0;
  border-radius: 16px;
}
