.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 25px;
}

.logo {
  min-width: 150px;
  min-height: 150px;
  margin-bottom: 24px;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  min-height: 40px;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  gap: 7px;
}

.button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 1em;
  border: none;
  background-color: var(--base-color);
  border-radius: 8px;
  color: var(--bg-color);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: var(--light-blue-bg);
    color: var(--base-color);
  }
}

.account {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  border: none;
  background-color: rgb(62 88 110);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.myMeetingsWrapper {
  width: 100%;
  overflow-y: auto;
}
