.outer {
  display: flex;
  width: 105px;
  height: 105px;
  animation: loading 1s infinite ease-in-out;
}

.inner {
  position: absolute;
  top: 54%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 105px;
  height: 105px;
  background-color: white;
  border-radius: 50%;

  &.small {
    width: 20px;
    height: 20px;

    & .outer {
      width: 20px;
      height: 20px;
    }

    & .inner {
      top: 54%;
      left: 50%;
      width: 12px;
      height: 14px;
    }
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
