.container {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: fit-content;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.outer {
  animation: loading 1s infinite ease-in-out;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
