.container {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  padding: 24px 16px 0;
  color: var(--base-color);
  overflow-y: auto;

  h2 {
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -13px;
  margin-left: -13px;
}

.upRow {
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
}

.itemContainer {
  margin-bottom: 13px;
  margin-left: 13px;
}

.skeletContainer {
  margin-bottom: 13px;
  margin-left: 13px;
}
