.container {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px 16px 0;
  color: var(--base-color);

  h2 {
    margin-bottom: 20px;
  }
}

.warpper {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -13px;
  margin-left: -13px;
}

.upRow {
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
}

.itemContainer {
  margin-bottom: 13px;
  margin-left: 13px;
}

.skeletContainer {
  margin-bottom: 13px;
  margin-left: 13px;
  border-radius: 8px;
}
