.container {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  padding: 24px 16px 0;
  color: var(--base-color);
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -13px;
  margin-left: -13px;
}

.upRow {
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
  margin-bottom: 20px;
}

.itemContainer {
  margin-bottom: 13px;
  margin-left: 13px;
}

.skeletContainer {
  width: 165px;
  height: 103px;
  flex-grow: 1;
  margin-bottom: 13px;
  margin-left: 13px;
  background-color: var(--secondary-bg-color-without-alpha);
}
