.container {
  display: flex;
  flex-flow: column nowrap;
  padding: 16px 16px 0;
  color: var(--base-color);

  h2 {
    margin-bottom: 20px;
    color: var(--base-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
}

.warpper {
  display: flex;
  flex-flow: row wrap;
  gap: 13px;
}
