.container {
  padding: 24px 16px 0;
  color: var(--base-color);

  & h2 {
    margin-bottom: 16px;
  }
}

.wrapper {
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  margin-bottom: 37px;
  gap: 13px;
}
