.container {
  height: 100vh;
  padding: 0 16px;
  margin-bottom: var(--submit-button-height);
  overflow-y: auto;

  &.pending {
    overflow-y: hidden;
  }
}

.stepBoxContainer {
  margin-top: 24px;
}
