.container {
  height: 100vh;
  padding: 0 16px;
  overflow-y: auto;

  &.pending {
    overflow-y: hidden;
  }
}

.stepBoxContainer {
  margin-top: 24px;
}

.listClass {
  margin-bottom: var(--submit-button-height);
}
