.container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 300;

  & input {
    display: none;
  }
}

.selected {
  border: 1px solid var(--dt-white-wt-black);
  background-color: var(--selected-item-bg);
}
