.container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  cursor: pointer;

  & input {
    display: none;
  }
}

.selected {
  background-color: red;
}
