.container {
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--base-color);
  border-radius: 8px;
  color: var(--base-color);
  cursor: pointer;

  input {
    display: none;
  }
}

.selected {
  background-color: var(--base-color);
  color: var(--bg-color);
}
