.container {
  padding: 24px 16px 0;
  color: var(--base-color);

  & h2 {
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  overflow: auto;
  height: calc(100% - 130px);
  flex-flow: row wrap;
  gap: 16px;
}

.itemContainer {
  height: 40px;
  flex-basis: 72px;
}
