.container {
  overflow: hidden;
  height: 100vh;
  padding: 24px 16px 0;
  color: var(--base-color);

  & h2 {
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  height: calc(100% - 81px);
  flex-flow: row wrap;
  align-content: flex-start;
  margin-bottom: 40px;
  gap: 16px;
  overflow-y: auto;
}

.itemContainer {
  height: 40px;
  flex-basis: 72px;
}
