.container {
  padding: 16px 16px 0;

  & h2 {
    margin-bottom: 20px;
    color: var(--base-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
}

.wrapper {
  display: flex;
  overflow: auto;
  height: calc(100% - 130px);
  flex-flow: row wrap;
  gap: 16px;
}

.itemContainer {
  height: 40px;
  flex-basis: 72px;
}
