.container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-flow: column nowrap;
  padding: 24px 16px 0;
  color: var(--base-color);

  & h2 {
    margin-bottom: 16px;
    color: var(--base-color);
  }
}

.search {
  margin-bottom: 24px;
}

.wrapperList {
  height: calc(100% - 127px);
  overflow-y: auto;
}

.topicWrap {
  margin-bottom: 16px;
  background-color: var(--dt-grey-opacity-wt-white-opaity);
  border-radius: 8px;
  opacity: 0.8;
}

.questions {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}
