.container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-flow: column nowrap;
  padding: 16px 16px 0;

  & h2 {
    margin-bottom: 16px;
    color: var(--base-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
}

.search {
  margin-bottom: 24px;
}

.wrapperList {
  height: calc(100% - 130px);
  overflow-y: auto;
}

.questions {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}
