.container {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 24px;
  margin-bottom: var(--submit-button-height);
  color: var(--base-color);

  & h2 {
    margin-bottom: 16px;
    color: var(--base-color);
  }
}

.stickyHeader {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--base-bg-color);
}

.search {
  margin-bottom: 24px;
}

.topicWrap {
  width: 100%;
  background-color: var(--dt-grey-opacity-wt-white-opaity);
  border-radius: 8px;
  opacity: 0.8;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.questions {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}

.animatedLogo {
  margin-bottom: 8px;
}

.skeletContainer {
  margin-bottom: 16px;
  border-radius: 8px;
}
