.container {
  padding: 24px 16px 0;
  color: var(--base-color);

  & h2 {
    margin-bottom: 16px;
    color: var(--base-color);
  }
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.item {
  height: 42px;
  border-radius: 16px;
}
