.container {
  padding: 16px 16px 0;

  & h2 {
    margin-bottom: 16px;
    color: var(--base-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.paddingContainer {
  padding: 9px 0;
}
