.container {
  padding: 16px 16px 0;

  & h2 {
    margin-bottom: 20px;
    color: var(--base-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  svg {
    stroke: var(--base-color);
  }
}

.dateWrapper {
  & div[role='row'] {
    width: 100%;
    justify-content: space-between;
  }

  & span {
    margin: 0;
  }

  & button,
  & div[role='row'] > span {
    border-radius: 4px;
  }

  & div:not(div[role='row'] > div) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    background-color: transparent;

    & div[aria-live='polite'] {
      position: absolute;
      left: 50%;
      width: fit-content;
      transform: translateX(-50%);
    }
  }
}
