.container {
  padding-top: 24px;
  margin-bottom: var(--submit-button-height);
  color: var(--base-color);

  & h2 {
    margin-bottom: 20px;
  }

  svg {
    stroke: var(--base-color);
  }
}

.dateWrapper {
  & span,
  button {
    height: 32px;
    background-color: none;
    color: var(--base-color);
    font-size: 16px;

    &[aria-selected='true']:focus {
      background-color: var(--dt-blue-dark-wt-blue-light);
      color: var(--base-color);
    }

    &[aria-selected='true']:not(:focus) {
      background-color: var(--dt-blue-dark-wt-blue-light);
      color: var(--base-color);
    }

    &[aria-current='date'] {
      border: 1px solid var(--dt-blue-dark-wt-blue-light);
      background-color: none;
    }

    &[disabled] {
      color: var(--calendar-day);
    }
  }

  & div[role='row'] {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  & span {
    margin: 0;
  }

  & button,
  & div[role='row'] > span,
  & div[role='row'] > button {
    background-color: var(--secondary-bg-color);
    border-radius: 4px;

    &[aria-label='Next month'],
    &[aria-label='Previous month'] {
      background-color: transparent;
    }
  }

  & div:not(div[role='row'] > div) {
    position: relative;
    width: 100%;
    min-width: auto;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    background-color: transparent;

    & div[aria-live='polite'] {
      position: absolute;
      left: 50%;
      width: fit-content;
      transform: translateX(-50%);
    }
  }
}
