.container {
  display: flex;
  align-items: center;
  color: var(--base-color);

  & input {
    display: none;
  }

  & svg {
    stroke: var(--base-color);
  }
}

.checkWrap {
  position: relative;
  margin-right: 12px;
}

.inner {
  position: absolute;
  top: 45%;
  left: 50%;
  fill: var(--base-color);
  transform: translate(-50%, -50%);
}
