.container {
  height: 100vh;
  padding: 0 16px;
  overflow-y: auto;

  & h2 {
    position: sticky;
    top: 0;
    margin-top: 24px;
    margin-bottom: 20px;
    background-color: var(--base-bg-color);
  }
}

.stepBoxContainer {
  margin-top: 24px;
}
