.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 7.5px 16px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 300;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  & svg {
    stroke: var(--base-color);
  }
}

.info {
  display: flex;
  flex-flow: column nowrap;
}

.defaultText {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 14px;
}

.date {
  color: var(--base-color);
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
