.container {
  width: 80px;
  justify-content: space-between;
  padding: 0.2em 0.1em;
  border: 1px solid black;
  margin: 3px;
  cursor: pointer;
  text-align: center;
}

.selected {
  background-color: burlywood;
}

input {
  display: none;
}
