.buttons {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 16px 16px;
  margin-bottom: -16px;

  & button {
    margin-bottom: 16px;
  }
}

.joinButton {
  background-color: var(--dt-blue-dark-wt-blue-light);
  color: var(--dt-blue-dark-wt-white);
}

.leaveButton {
  background-color: var(--dt-blue-dark-wt-white);
  color: var(--dt-blue-dark-wt-blue-light);
}
